 <!-- A VEEERY basic HTML to show the bar chart, tha got saved as .png and temperatures -->
 <!-- The purpose here is only to demonstrate the functionality, the whole forecast project
   is also included in the Surf-Blog, there made pretty with CSS -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TODAY'S SWELL FORECAST</title>
</head>
<body>
     <div><img src='static/images/plot.png' alt="Bar Chart of the wave and weather conditions of choosen location"/></div>
  <div> <b> Water Temperature: </b>{{water_temp}}</div>
  <div> <b> Air Temperature: </b>{{air_temp_2}}</div>
</body>
</html>